<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="bplus-tool.ZPM">
    <Module>
      <Name>bplus-tool</Name>
      <Version>0.0.1</Version>
      <Description>BPlus Tool for QA</Description>
      <Packaging>module</Packaging>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="bplus.PKG"/>
      <Invoke Class="bplus.Setup" Method="Init" >
      </Invoke>
    </Module>
  </Document>
</Export>
